name: Deploy
permissions:
  contents: read
on:
  push:
    branches:
      - master
jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          lfs: true

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v5
        env:
          cache-name: cache-node-modules-v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-

      - name: Install dependencies
        run: npm ci

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build code
        env:
          REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          CODE_BUCKET: ${{ secrets.CODE_BUCKET_NAME }}
          USER_NAME: ${{ secrets.WIKI_USER_NAME }}
          PASSWORD: ${{ secrets.WIKI_USER_PASSWORD }}
          PROTECT_USER_NAME: ${{ secrets.WIKI_PROTECT_USER_NAME }}
          PROTECT_PASSWORD: ${{ secrets.WIKI_PROTECT_USER_PASSWORD }}
          DELETE_USER_NAME: ${{ secrets.WIKI_DELETE_USER_NAME }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          VECTOR_STORE_ID: ${{ secrets.VECTOR_STORE_ID }}
          DELETE_PASSWORD: ${{ secrets.WIKI_DELETE_USER_PASSWORD }}
        run: touch .env && npm run update-env
